

.container{
    background-color: rgb(201, 218, 234);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background-color:white ;
    padding: 20px;
    width: 20%;
    border-radius: 16px;
}

.card img {
    height: 300px; 
    border-radius: 16px;   
}

h1{
    font-size:x-large;
    text-align:center;
}